<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Address Book -- Confirmation needed</title>
</head>

<body>
	{% if errors %}
		<h4>{{errors}}</h4>
	{% endif %}
<div id="registerform">
	<form  role="form" method="post" action="{% url 'change_password_done' %}">
	        {{form}}
	        {% csrf_token %}
	    <div class="form-group">
	        <div class="col-sm-offset-1 col-sm-10">
	            <button type="submit" class="btn btn-default">Confirm Change</button>
	            
	        </div>
	    </div>
	</form>
</div>

</div>
</body>
</html>

