<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}socialnetwork/css/bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}socialnetwork/css/register.css">
        <title>Register</title>
    </head>

    <body>
        <div class="container">
        

            <h1>
                Change Password
            </h1>
            {% if errors %}
                <h2>{{errors}}</h2>
            {% endif %}
            <div class="panel">
                <form method="POST" action = "{% url 'change_password' %}">
                    <h3>Please input your email address</h3>
                    <!-- input type="email" name="email" placeholder="boo@competitors.com"/> -->
                    <input type="text" name="email" placeholder="boo@foo.com"/>
                    <input type="submit" value="submit"/>
                    {% csrf_token %}
                </form>
                <!-- {% for error in errors %}
                    <h4 style="color: red">
                        {{ error }}
                    </h4>
                {% endfor %}
                <div id="registerform">
                    <form  role="form" method="post" action="{% url 'register' %}">
                        <table>
                            {{form}}
                        </table>
                            {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-default">Register</button>
                                
                            </div>
                        </div>
                    </form>
                    <button id="redirectToLogin" type="button" class="btn btn-default"><a href="login">Already Have an Account</a></button>

                </div> -->

            </div>

        </div>

    </body>
</html>

