.pc_area>div{
	display: inline-block;
	height: 200px;
	vertical-align: top;
}

.pc_info{
	width: 150px;
	text-align: center;
}

.pc_info>img{
	width: 100px;
	height: 100px;
}
.pc_info>button{
	width: 100px;
}

.pc_content{
	width: 850px;
}
.pc_content>p{
	margin: 10px 0 0 30px;
}

#comment_form *{
	text-align: center;
}

#comment_form button{
	margin-top: 10px;
	width: 100px;
}