{% extends "competitors/base.html" %}
{% block main %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}competitors/css/profile.css">
    
        {% for error in errors %}
        <h4 style="color: red">
            {{ error }}
        </h4>
        {% endfor %}
        
        <div id="log">
            
            <canvas id="imageCanvas">
            </canvas>
            <div id="drag">
            </div>
            <div id="drag1">
            </div>
            <div id="drag2">
            </div>
            <div id="drag3">
            </div>
            <div id="drag4">
            </div>  
            <canvas id="imageCanvas2"></canvas>
            <input type="hidden" name="data" id="img_url" value=""/>
            {% csrf_token %}
            <button id="upload" onclick="save_pic()" class="btn btn-default">Upload</button>
            <div id="hint">
                <h4>Drag mouse to change the range of your image</h4>
            </div>
        </div>
        <div id="instruction">
                <label>
                    Image File:
                </label>
                <input type="file" id="imageLoader" name="imageLoader" size="60" value=="Select Your Image"/>        
        </div>
        
        <div id="info" class="panel">
            
             <div id="image" >
                <img src="{{currentUser.img_url}}" width="150px"/>
            {% if currentUser.user.username = user.username %}
                <button onclick="canvasarea()" class="btn btn-primary btn-lg">Change</button>
            {% endif %}
            </div>
            
            <div id="personal">
                <div id="mainpanelbody" class="panel">
                    <h4>Username: {{currentUser.user.username}}</h4>    
                    <h4>Fisrtname: {{currentUser.user.first_name}}</h4>
                    <h4>Last Name: {{currentUser.user.last_name}}</h4>
                    <h4>Age: {{currentUser.age}}</h4>
                </div>
            </div>
            <div>
                 <p>Bio{{currentUser.bio}}</p>
            </div>
        </div>

        <div class="personal_follows">
            {% for team in teamfollows %}
            
                <div class="recommend_each">
                    <a href="{% url 'team_page' team.id %}">
                        <div class="panel">
                            <div class="recommend_each_img">
                                <img src="{{team.icon_url}}"/>
                            </div>
                            <div class="recommend_each_info">
                                <h6>{{team.name}}</h6>
                                <h6>{{team.followers.count}}</h6>
                            </div>
                        </div>
                    </a>
                </div>  
            {% endfor %}
        </div>
        <div class="personal_follows">
            {% for player in playerfollows %}
            
                <div class="recommend_each">
                    <a href="{% url 'player_page' player.id %}">
                        <div class="panel">
                            <div class="recommend_each_img">
                                <img src="{{player.icon_url}}"/>
                            </div>
                            <div class="recommend_each_info">
                                <h6>{{player.name}}</h6>
                                <h6>{{player.followers.count}}</h6>
                            </div>
                        </div>
                    </a>
                </div>  
            {% endfor %}
        </div>
        </div>
    <script type="text/javascript" src="{{STATIC_URL}}competitors/js/profile.js"></script>   
 {% endblock %}